@media only screen and (max-width: 800px) {
  .loginModal0,
  .loginModal1 {
    width: 100%;
    height: 100%;
  }
}

.hidden { display: none; }
.modal__Animation { animation: var(--openModal); }
.activeSection { display: block; }
.highlighted { border: 2px solid #ff0000 !important; }
.activeFormat {
  background-color: var(--leadingColor2) !important;
  border: 2px solid var(--leadingColor) !important;
  transition: background 0.3s ease, border 0.3s ease;
};
