* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--defaultFont);
  color: var(--defaultFontColor);
}

:root {
  --leadingColor: #38b6ff;
  --leadingColor2: #65c7ff;
  --leadingColorHover: #83d1ff;
  --shadow0: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  --shadow: #00000014 0px 4px 12px;
  --defaultFont: Roboto;
  --defaultFontColor: #000;
  --theme: #ffffffc6;

  --openModal: openModal 0.5s forwards;
  --closeModal: closeModal 0.5s forwards;
  --zoom: zoom 0.5s forwards;
}

h1, h2 { font-weight: lighter; }

h1 { font-size: 27px; }

h2 { font-size: 20px; }

.loginModal0,
.loginModal1,
.modal0,
.modal1,
.modal2,
.modal3 {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  padding: 20px;
  opacity: 0;
  border-radius: 8px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.loginModal0 .container,
.loginModal1 .container,
.modal0 .container,
.modal1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginModal0 .container .logo {
  width: 100px;
  height: 100px;
  margin: 20px 0 20px 0;
}

.modal2 {
  width: 500px;
  height: 200px;
}

.modal2 .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal2 .dialog {
  width: 70%;
  top: 70%;
}

.modal2 .dialog .cancel { margin: 0 2.5px 0 0; }
.modal2 .dialog .confirm { margin: 0 0 0 2.5px; }

.modal2  .elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal3 {
  width: 700px;
  height: 500px;
}

.modal3 .dialog {
  width: 35%;
}

.modal3 .dialog .cancel { margin: 0 2.5px 0 0; }
.modal3 .dialog .confirm { margin: 0 0 0 2.5px; }

.loginModal0 input,
.loginModal1 input,
.modal0 input,
.modal1 input {
  outline: 0;
  width: 70%;
  padding: 5px;
  margin: 2.5px 0 2.5px 0;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
}

.modal1 {
  width: 400px;
  height: 150px;
}

#checkLogin {
  width: 70%;
  padding: 5px;
  margin: 2.5px 0 2.5px 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--leadingColor2);
  background-color: var(--leadingColor);
  transition: background 0.3s ease;
}

#checkLogin:hover {
  background-color: var(--leadingColorHover);
  transition: background 0.3s ease;
}

.startScreen {
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #fff;
  transition: opacity 0.3s ease, background 0.3s;
}

.startScreen .container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.sideBar {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  box-shadow: var(--shadow);
  background-color: var(--leadingColor);
}

.sideBar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shadow0);
  background-color: var(--leadingColor2);
  transition: background 0.3s ease;
}

.sideBar button:hover {
  background-color: var(--leadingColorHover);
  transition: background 0.3s ease;
}

.sideBar button img {
  width: 37px;
  height: 37px;
}

.actionButtons,
.logoutButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionButtons { margin: 5px 0 0 0; }

.actionButtons button { margin: 0 0 5px 0; }

.logoutButtons { margin: 0 0 5px 0; }

.logoutButtons button { margin: 5px 0 0 0; }

section {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20px 90px 20px 20px;
  margin: 0 0 0 70px;
  transition: 0.5s ease;
  animation: content 1s forwards;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 7.5px;
  border-radius: 50px;
  box-shadow: var(--shadow0);
  background-color: #fff;
}

.searchArea input {
  outline: 0;
  border: 0;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  background-color: transparent;
}

.searchArea img {
  width: 30px;
  height: 30px;
  filter: invert(59%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(93%) contrast(97%);
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options button {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0 0 0 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shadow0);
  background-color: #fff;
  transition: background 0.3s ease;
}

.options button:hover {
  background-color: var(--leadingColorHover);
  transition: background 0.3s ease;
}

.options button img {
  width: 33px;
  height: 33px;
}

.options .account {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.options .account img { border-radius: 50%; }

.overlay {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #00000095;
  transition: 0.3s opacity ease;
}

.animationOverlay { opacity: 1; }

#forgotPassword {
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  transition: color 0.3s ease;
}

#forgotPassword:hover {
  color: var(--leadingColor);
  transition: color 0.3s ease;
}

.loginModal0 .elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 0 15px 0;
}

.loginModal0 .content {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 0 5px 0 0;
  border: 2px solid var(--leadingColor);
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: var(--leadingColor);
  transition: background 0.3s ease;
}

input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

#signupRedirect {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  transition: color 0.3s ease;
}
#signupRedirect:hover {
  color: var(--leadingColor);
  transition: color 0.3s ease;
}

.alert {
  text-align: center;
  color: #ff0000;
  margin: 10px 10px 20px 10px;
}

.loginModal1 .elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.loginModal1 .elements button {
  border: 0;
  width: 49.5%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.signupCancel { background-color: #000; }

.signupCancel:hover {
  background-color: #666666;
  transition: background 0.3s ease;
}

.signupConfirm { background-color: var(--leadingColor); }

.signupConfirm:hover {
  background-color: var(--leadingColorHover);
  transition: background 0.3s ease;
}

.loginModal1 .sliderContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 142px;
}

.loginModal1 .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}

.loginModal1 .arrow {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.loginModal1 .arrow img {
  width: 25px;
  height: 25px;
}

.loginModal1 .profilePics {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.loginModal1.sliderItem {
  cursor: pointer;
  border-radius: 100%;
}

.loginModal1 .sliderItem img {
  width: 142px;
  height: 142px;
  border-radius: 100%;
}

.loginModal1 .arrowForward { margin: 0 0 0 20px; }

.loginModal1 .arrowBack { margin: 0 20px 0 0; }

.dialog {
  display: flex;
  align-items: center;
  position: absolute;
  top: 90%;
}

.modal0 .elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal0 .dialog {
  width: 70%;
  justify-content: space-between;
}

.cancel,
.confirm {
  border: 0;
  width: 49.5%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.cancel { background-color: #000; }

.cancel:hover {
  background-color: #666666;
  transition: background 0.3s ease;
}

.confirm { background-color: var(--leadingColor); }

.confirm:hover {
  background-color: var(--leadingColorHover);
  transition: background 0.3s ease;
}

.modal1 .dialog {
  display: flex;
  align-items: center;
  top: 65%;
  width: 62%;
  justify-content: space-between;
}

.modal1 .elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

#folders { margin: 5px 0 0 0; }

.folder {
  border: 0;
  width: 125px;
  padding: 10px;
  cursor: pointer;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: var(--shadow0);
  transition: background 0.3s ease, border 0.3s ease;
}

.activeFolderButton {
  background-color: var(--leadingColorHover);
  border: 2px solid var(--leadingColor2);
  transition: background 0.3s ease, border 0.3s ease;
}

.folderContainer {
  display: none;
  margin: 5px 0 0 0;
}



.activeFolderContainer { display: block; }

.noteThumbnail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  width: 23%;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 0 10px 10px;
  margin: 5px 10px 0 0;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  transition: background 0.3s ease, border 0.3s ease, transform 0.3s ease;
  animation: var(--zoom);
}

.noteThumbnail::-webkit-scrollbar-track,
.noteText::-webkit-scrollbar-track { background-color: transparent; }

.noteThumbnail::-webkit-scrollbar,
.noteText::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.noteThumbnail::-webkit-scrollbar-thumb,
.noteText:-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 10px;
}

#quickNotes {
  margin: 10px 0 0 0;
}

.noteThumbnail textarea {
  border: 0;
  outline: 0;
  height: 120px;
  cursor: pointer;
  resize: none;
  background-color: transparent;
}

#previewFolders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.previewFolder,
.previewSubfolder {
  border: 0;
  display: flex;
  align-items: center;
  width: 70%;
  padding: 5px;
  margin: 5px 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
  background-color: #fff;
  transition: background 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.previewFolder img,
.previewSubfolder img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}

.subfolderArea {
  display: flex;
  align-items: center;
  width: 70%;
  border-left: 3px solid #f0f0f0;
}

.subfolderArea .previewFolder {
  width: 100%;
  margin: 5px 0 0 10px;
}

.branch {
  width: 30px;
  height: 30px;
}

#subfolders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.activePreviewFolder {
  background-color: var(--leadingColorHover);
  border: 2px solid var(--leadingColor2);
  transition: background 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.allPreviewFolders {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.folderContainer .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 0 0 200px 0;
  overflow-y: scroll;
}

.folderContainer .container::-webkit-scrollbar-track{ background-color: transparent; }

.folderContainer .container::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.folderContainer .container::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 10px;
}

#quickNotes .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.workspaceButtons {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.workspaceButtons button {
  margin: 5px 0 0 0;
}

.workspaceButtonsHidden {
  transform: translateX(-60px);
  transition: transform 0.3s ease;
}

.toolBar {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 300px;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  transform: translateX(70px);
  background-color: #fff;
  border: 2px solid var(--leadingColor);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.toolBarHidden {
  opacity: 0;
  transform: translateX(-370px);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.section1 {
  padding: 20px 90px 20px 20px;
  margin: 0 0 0 70px;
  transition: 0.5s ease;
}

.section1Animation {
  margin: 0 0 0 370px;
  padding: 20px 390px 20px 20px;
  transition: 0.5s ease;
}

.buttons { padding: 10px; }

.toolBar .tools button,
.toolBar .tools a {
  display: flex;
  align-items: center;
  border: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 0 0 2.5px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
}
.toolBar .tools button:hover,
.toolBar .tools a:hover {
  background-color: var(--leadingColor);
}

.toolBar .tools button img,
.toolBar .tools a img {
  width: 22px;
  height: 22px;
  margin: 0 5px 0 0;
}

.toolBar .title {
  padding: 10px;
  border-bottom: 2px solid var(--leadingColor);
}

.path {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
}

.workspace .lastEdit,
.workspace .author {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
}

.workspace .lastEdit { margin: 0 5px 0 0; }
.workspace .author { margin: 0 0 0 5px }

.workspace .elements {
  display: flex;
  align-items: center;
  margin: 5px 0 0 0;
}

.noteContainer {
  height: 600px;
  margin: 5px 0 0 0;
  padding: 0 0 200px 0;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.noteContainer .noteName {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.noteArea {
  outline: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  font-size: 16px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  border-right: 0;
  border-left: 0;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  position: relative;
}

.noteArea::-webkit-scrollbar {
  width: 10px;
}

.noteArea::-webkit-scrollbar-track {
  background: transparent;
}

.noteArea::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 5px;
}

.noteArea ul {
  list-style: decimal;
  padding-left: 20px;
}

.noteArea li {
  display: list-item;
}

.noteArea 

li::marker {
  content: "• ";
}

.noteContext,
.folderContext {
  z-index: 3;
  display: none;
  position: absolute;
  list-style: none;
  width: 200px;
  padding: 0;
  border-radius: 5px;
  background: #fff;
  border: 1px solid var(--leadingColor);
  box-shadow: var(--shadow);
}

.noteContext li,
.folderContext li {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.noteContext li:hover,
.folderContext li:hover {
  background: #f0f0f0;
}

.tool {
  position: fixed;
  width: 300px;
  height: 100%;
  transform: translateX(300px);
  transition: transform 0.5s ease;
  background-color: #ffffff;
}

.tool .title {
  display: flex;
  width: 100%;
  height: 53.6px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid var(--leadingColor);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.tool .container {
  width: 100%;
  padding: 10px;
}

.back {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.back img {
  width: 30px;
  height: 30px;
}

.tools {
  width: 300px;
  transition: transform 0.5s ease;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.backgroundColor,
.textColor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  margin: 2.5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid #f0f0f0;
}

.selected {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: var(--zoom);
}

#backgroundColor0 {
  background-color: #ffffff;
  border: 3px solid #f0f0f0;
}
#backgroundColor1 {
  background-color: #ecb8ff;
  border: 3px solid #d255ff;
}
#backgroundColor2 {
  background-color: #ffacac;
  border: 3px solid #ff5151;
}
#backgroundColor3 {
  background-color: #ffc6ac;
  border: 3px solid #ff7f51;
}
#backgroundColor4 {
  background-color: #acffac;
  border: 3px solid #51ff57;
}
#backgroundColor5 {
  background-color: #acfff7;
  border: 3px solid #51ffce;
}
#backgroundColor6 {
  background-color: #e0e0e0;
  border: 3px solid #a8a8a8;
}
#backgroundColor7 {
  background-color: #9c9c9c;
  border: 3px solid #5b5b5b;
}
#backgroundColor8 {
  background-color: #f6ffa6;
  border: 3px solid #fffc40;
}
#backgroundColor9 {
  background-color: #ddffa1;
  border: 3px solid #baff44;
}
#backgroundColor10 {
  background-color: #acf1ff;
  border: 3px solid #53c9ff;
}
#backgroundColor11 {
  background-color: #acdeff;
  border: 3px solid #57bcff;
}
#backgroundColor12 {
  background-color: #f5f5dc;
  border: 3px solid #ffdca1;
}
#backgroundColor13 {
  background-color: #7f6a4f;
  border: 3px solid #7a521f;
}

.selectedBackgroundColor,
.selectedTextColor {
  background-color: #f0f0f0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  animation: zoom 0.3s forwards alternate;
}

.selectedTextColor { background-color: #000 }

#tool3 .container {
  display: flex;
  flex-wrap: wrap;
}

#tool3 .container button {
  border: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  transition: background 0.3s ease, border 0.3s ease;
}

#tool3 .container button img {
  width: 44px;
  height: 44px;
}

.noteContainer .elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteContainer .elements div {
  display: flex;
  align-items: center;
}

.noteContainer .elements button {
  border: 0;
  background-color: transparent;
}

.noteContainer .elements button img {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.separator {
  border: 1px solid var(--leadingColor);
  margin: 5px 0 5px 0;
}

#textColor0 {
  background-color: #4e4e4e;
  border: 3px solid #000;
}

.switch {
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50px;
  margin: 0 10px 0 0;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.switchElement {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #cdcdcd;
  transition: transform 0.3s ease, background 0.3s ease;
}

.activeSwitchElement {
  transform: translateX(calc(100%));
  transition: transform 0.3s ease, background 0.3s ease;
  background-color: var(--leadingColor);
}

.activeSwitch {
  background-color: var(--leadingColorHover);
  transition: background 0.3s ease;
}

.switchElements {
  display: flex;
  align-items: center;
}